header {
  background-image: url(https://i.pinimg.com/originals/e6/26/6e/e6266e734df805f913ec92d53ef231a9.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}
