* {
  margin: 0%;
}
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
.contenedor {
  display: flex;
}

body {
  background-image: url(https://images5.alphacoders.com/667/667537.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
